<nav class="navbar navbar-expand-lg bg-light">
     <div class="container-fluid">
         <a class="navbar-brand" href="">TRT Conseil</a>
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="item">
                        <a href="" class="nav-link disabled">Specialiste du recrutement dans l'hôtellerie restauration</a>
                    </li>
                    {% if is_granted('ROLE_APPLICANT') %}
                         <li class="nav-item">
                             <a class="nav-link" href={{path("app_jobs",{'id':applicant.id})}} >Offre d'emploi</a>
                        </li>
                     {% endif %}
                </ul>

         <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link disabled" href=""></a>
                </li>
            {% if app.user %}
                    {% if is_granted('ROLE_APPLICANT')%} 
                        <li class="nav-item">
                            <a class="nav-link" href={{path("app_applicant_profil", {'id': applicant.id})}}>Mon compte</a>
                        </li> 
                        
                        {% else %}
                        {% if is_granted('ROLE_RECUITER') %}
                        <li class="nav-item">
                            <a class="nav-link" href={{path("app_recuiter_view",{'id':recuiter.id })}}>Mon comptes</a>
                        </li>
                        {% endif %}
                    {% endif %}
                    <a class="nav-link" href="{{path('app_logout')}}">Me déconnecter</a>
                </li>
            {% else %}
                <li class="nav-item">
                <a class="nav-link" href="{{path('app_login')}}">Me connecter</a>
                </li>
            {% endif %}
         </ul>
         </div>
     </div>
 </nav>