{% extends 'base.html.twig' %}

{% block title %}Hello JobsFormController!{% endblock %}

{% block Nav %}<h2 class="text-center">Creer une Offre</h2>{% endblock %}

{% block body %}
<section class="container">
    <div class="row">
        <div class="col">
            {{ form_start(form) }}
                <fieldset class="mb-3">
                    <legend>Nom de l'offre</legend>
                    {{ form_row(form.title) }}
                </fieldset>
                <fieldset>
                    <legend>Adresse</legend>
                        {{ form_row(form.address) }}
                        {{ form_row(form.city) }}
                        {{ form_row(form.zipCode) }}
                </fieldset>
                <fieldset>
                    <legend>Autre</legend>
                        {{ form_row(form.description) }}
                </fieldset>
                        {{ form_row(form.save) }}
            {{ form_end(form) }}
        </div>
    </div>
</section>
{% endblock %}
