{% extends 'base.html.twig' %}

{% block title %}TRT conseils inscription recruteur{% endblock %}

{% block body %}
    
    <section class="d-flex d-row flex-wrap">
        {% for job in jobs %}
            {% if job.isActive %}
                        <div class="card m-3" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">{{job.title}}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{job.publishedAt|date("m/d/Y")}}</h6>
                                <p class="card-text">{{job.description}}</p>
                        {% if is_granted('ROLE_RECUITER')  %}
                            <a class="card-link btn btn-primary disabled" href="">Postuler</a> 
                        {% else %}    
                            <a class="card-link btn btn-primary" href="{{ path('app_job_apply', {'jobId': job.id, 'id': applicant.id}) }}">Postuler</a> 
                        {% endif %}
                    </div>
            </div>
            {% else %}
                <div class="row">
                    <div class="card m-3" style="width: 18rem;">
                        <div class="card-body">
                        <h3 class="card-title">{{job.title}}</h3>
                        <p>😄Cette offre sera bientôt disponible</p>
                        </div>
                    </div>
                </div>
            {% endif %}                



        {% endfor %}
    </section>
{% endblock %}